<div class="mil-p-f-30">
    <div class="container">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">Our blog</h2>
            <div class="mil-dots"></div>
            <b class="mil-fs-24">04</b>
        </div>
        <div class="row mil-mb-60">
            <!-- blog post -->
            <div class="col-12 col-sm-6 col-lg-4 mil-mb-15">
                <a href="/steam-cleaning-carpets/" class="mil-blog-card mil-br-lg  mil-up">
                    <div class="mil-cover">
                        <img src="/assets/img/blog-steam.webp" alt="steam cleaning carpets">
                        <ul class="mil-category">
                            <li class="mil-bg-m-1 mil-up-text mil-m-3 mil-mr-5">House / Apartment</li>
                            <li class="mil-bg-a-2 mil-up-text mil-m-3 mil-mr-5">Carpets</li>
                        </ul>
                    </div>
                    <div class="mil-descr">
                        <p class="mil-up mil-mb-20"><span class="mil-date">03, 28, 2026</span> &nbsp; by
                            &nbsp; <span class="mil-a-2">MoveOut Deep Cleaners</span></p>
                        <h3 class="mil-fs-28 mil-m-1 mil-up mil-mb-30 mil-lh-140">Why You Should Avoid Steam
                            Cleaning Carpets in Hawaii</h3>
                        <div class="mil-up">
                            <div class="mil-btn mil-sm mil-bg-m-3 mil-br-xl mil-hover-bri-105 mil-hover-scale">
                                Read more</div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- blog post -->
            <div class="col-12 col-sm-6 col-lg-4 mil-mb-15">
                <a href="/cleaning-checklist/" class="mil-blog-card mil-br-lg  mil-up">
                    <div class="mil-cover">
                        <img src="/assets/img/blog-checklist.webp" alt="steam cleaning carpets">
                        <ul class="mil-category">
                            <li class="mil-bg-m-1 mil-up-text mil-m-3 mil-mr-5">House / Apartment</li>
                            <li class="mil-bg-m-4 mil-up-text mil-m-1 mil-mr-5">Tenants</li>
                        </ul>
                    </div>
                    <div class="mil-descr">
                        <p class="mil-up mil-mb-20"><span class="mil-date">03, 28, 2026</span> &nbsp; by
                            &nbsp; <span class="mil-a-2">MoveOut Deep Cleaners</span></p>
                        <h3 class="mil-fs-28 mil-m-1 mil-up mil-mb-30 mil-lh-140">What Landlords in Honolulu
                            Expect for Move-Out Cleanings</h3>
                        <div class="mil-up">
                            <div class="mil-btn mil-sm mil-bg-m-3 mil-br-xl mil-hover-bri-105 mil-hover-scale">
                                Read more</div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- blog post -->
            <div class="col-12 col-sm-6 col-lg-4 mil-mb-15">
                <a href="/best-cleaning-services-honolulu/" class="mil-blog-card mil-br-lg  mil-up">
                    <div class="mil-cover">
                        <img src="/assets/img/blog-top5.webp" alt="steam cleaning carpets">
                        <ul class="mil-category">
                            <li class="mil-bg-m-1 mil-up-text mil-m-3 mil-mr-5">House / Apartment</li>
                            <li class="mil-bg-a-1 mil-up-text mil-m-1 mil-mr-5">Compare</li>
                        </ul>
                    </div>
                    <div class="mil-descr">
                        <p class="mil-up mil-mb-20"><span class="mil-date">01, 1, 2026
                        <h3 class="mil-fs-28 mil-m-1 mil-up mil-mb-30 mil-lh-140">Top 5 House Cleaning Companies in Honolulu and Why</h3>
                        <div class="mil-up">
                            <div class="mil-btn mil-sm mil-bg-m-3 mil-br-xl mil-hover-bri-105 mil-hover-scale">
                                Read more</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mil-mb-30 mil-up">
                <p class="mil-lh-160 mil-fs-18">Looking for more helpful tips to maintain cleanliness? Visit
                    our blog and discover how to keep your home spotless with ease!</p>
            </div>
            <div class="col-lg-6 mil-jce mil-sm-jcs mil-mb-30 mil-up">
                <a href="/blog/"
                    class="mil-btn mil-bg-m-2-light mil-br-xl mil-hover-bg-a-1 mil-hover-scale mil-icon-btn">See
                    all<i class="far fa-plus mil-bg-m-4 mil-m-1"></i></a>
            </div>
        </div>
    </div>
</div>