<div class="container">
    <div class="mil-dots mil-up"></div>
</div>
<div class="mil-p-ff mil-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mil-md-mb-15 mil-up">
                <div class="mil-text-side">
                    <div class="mil-box-bg">
                        <img src="/assets/img/ui/t5.jpg" alt="">
                    </div>
                    <div class="mil-text-frame">
                        <div class="mil-aic mil-mb-20">
                            <svg width="50" height="50" viewBox="0 0 89 89" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="mil-mr-15">
                                <rect x="42.1406" y="13.0017" width="3.46874" height="62.7841" fill="#F6D62D" />
                                <rect x="13.0078" y="45.2607" width="3.46874" height="62.7841"
                                    transform="rotate(-90 13.0078 45.2607)" fill="#F6D62D" />
                                <rect x="21.5859" y="22.8096" width="3.46874" height="62.7841"
                                    transform="rotate(-45 21.5859 22.8096)" fill="#F6D62D" />
                                <rect x="22.8125" y="67.2046" width="3.46874" height="62.7841"
                                    transform="rotate(-135 22.8125 67.2046)" fill="#F6D62D" />
                            </svg>
                            <p>Find out why <br>property managers love us.</p>
                        </div>
                        <h2 class="mil-sm-fs-44 mil-fs-72 mil-m-3 mil-lh-110 mil-mb-30">Licensed &
                            Insured</h2>
                        <p class="mil-fs-24 mil-mb-40">Your property is protected with licensed <br> and
                            insured professionals.
                        </p>
                        <div class="mil-buttons-frame">
                            <a href="tel:+18084004214"
                                class="mil-btn mil-icon-btn mil-bg-a-1 mil-br-xl mil-hover-bri-105 mil-hover-scale mil-mr-30" data-no-swup>(808) 400-4214<i class="far fa-plus mil-bg-m-1 mil-a-1"></i></a>
                            <a href="/price-calculator/" class="mil-link mil-m-4">price calculator<i
                                    class="far fa-arrow-right mil-bg-a-1 mil-m-1"
                                    style="padding: .2rem 0 0 .2rem"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mil-up mil-md-hidden">
                <div class="mil-image-part">
                    <div class="mil-cover-frame">
                        <img src="/assets/img/ui/cont-1.jpg" alt="" class="mil-scale-img" data-value-1="1.15"
                            data-value-2="1">
                    </div>
                </div>
            </div>
        </div>
        <div class="mil-hero-cards-frame">
            <div class="row">
                <div class="col-lg-12 col-xxl-5 mil-mb-15">
                    <a href="/contact/">
                        <div class="mil-discount-card mil-hover-move mil-call-popup">
                            <div class="mil-text-part mil-aic mil-bg-a-1">
                                <div class="mil-aic">
                                    <div class="mil-dscnt-star mil-invert">
                                        <img src="/assets/img/ui/star.svg" alt="">
                                        <div class="mil-fs-40 mil-lh-100 mil-m-3 mil-fw-700"><span class="mil-counter"
                                                data-number="20">20</span>%</div>
                                    </div>
                                    <div>
                                        <p class="mil-m-1 mil-mb-15 mil-opacity-7">Hurry up!</p>
                                        <h3 class="mil-fs-32 mil-mb-20"><strong>Discount</strong> for property
                                            managers <span class="mil-m-4">*</span></h3>
                                        <i class="mil-m-1 mil-opacity-7">Verified property management required.</i>
                                    </div>
                                </div>
                            </div>
                            <div class="mil-dscnt-part">
                                <img src="/assets/img/ui/discount.svg" alt="">
                                <div class="mil-up-text mil-m-4">Get it now</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>