<div class="mil-discount-popup">
    <div class="mil-popup-window">
        <div class="mil-envelope-top">
            <i class="fal fa-times mil-close-popup"></i>
            <svg viewBox="0 0 555 224" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_658_621)">
                    <path
                        d="M15 180.242C15 169.665 20.5702 159.869 29.6603 154.461L262.16 16.1269C271.613 10.5024 283.387 10.5024 292.84 16.1269L525.34 154.461C534.43 159.869 540 169.665 540 180.242V205H15V180.242Z"
                        fill="white" />
                </g>
                <path d="M90 153L277.931 43L465 153" stroke="#CC4E4E" stroke-opacity="0.04" stroke-width="34"
                    stroke-linecap="round" />
                <defs>
                    <filter id="filter0_d_658_621" x="0" y="0.908447" width="555" height="223.092"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="7.5" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_658_621" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_658_621" result="shape" />
                    </filter>
                </defs>
            </svg>
            <div class="mil-discount-card">
                <div class="mil-text-part mil-aic mil-bg-a-1">
                    <div class="mil-aic">
                        <div class="mil-dscnt-star mil-invert">
                            <img src="/assets/img/ui/star.svg" alt="star">
                            <div class="mil-fs-40 mil-lh-100 mil-m-3 mil-fw-700"><span>50</span>%</div>
                        </div>
                        <div>
                            <p class="mil-m-1 mil-mb-15 mil-opacity-7">Hurry up!</p>
                            <h3 class="mil-fs-32 mil-mb-20">Discount for the first cleaning <span
                                    class="mil-m-4">*</span></h3>
                            <p class="mil-m-1 mil-opacity-7">Limited time offer!</p>
                        </div>
                    </div>
                </div>
                <div class="mil-dscnt-part">
                    <img src="/assets/img/ui/discount.svg" alt="discount">
                    <div class="mil-up-text mil-m-4"><img src="/assets/img/ui/logo-light.png" alt="logo"
                            style="width: 11rem; height: auto; margin-left: -.5rem"></div>
                </div>
            </div>
        </div>
        <div class="mil-envelope-body mil-tac mil-br-lg">
            <h4 class="mil-fs-36 mil-mb-60">🔥 Wow! That's so lucky! 🥳</h4>
            <form>
                <div class="row">
                    <div class="col-6 mil-mb-15">
                        <div class="mil-input-frame">
                            <input type="text" id="user-name-3" name="user-name" placeholder="Name"
                                class="mil-br-md mil-bg-m-3" autocomplete="name">
                            <i class="far fa-user mil-a-2"></i>
                        </div>
                    </div>
                    <div class="col-6 mil-mb-15">
                        <div class="mil-input-frame">
                            <input type="email" id="user-email-3" name="user-email" placeholder="Email"
                                class="mil-br-md mil-bg-m-3" autocomplete="email">
                            <i class="far fa-at mil-a-2"></i>
                        </div>
                    </div>
                    <div class="col-md-12 mil-mb-15">
                        <div class="mil-input-frame">
                            <input type="tel" id="user-phone-3" name="user-tel"
                                class="mil-phone-input mil-br-md mil-bg-m-3" placeholder="+38 (___) ___-__-__"
                                autocomplete="tel">
                            <i class="far fa-mobile mil-a-2"></i>
                        </div>
                    </div>
                    <div class="col-lg-12 mil-aic mil-mt-15">
                        <p class="mil-fs-14 mil-m-2 mil-tal">By clicking the send button, you agree to the rules for
                            processing personal data</p>
                        <button
                            class="mil-btn mil-bg-a-1 mil-icon-btn mil-br-xl mil-hover-bri-105 mil-hover-scale mil-ml-60 mil-sm-ml-30"
                            type="submit">Get it now<i class="far fa-arrow-right mil-bg-m-1 mil-a-1"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>