<div class="mil-p-0-30" id="faq">
    <div class="container">
        <div class="mil-section-title mil-mb-f mil-up">
            <h2 class="mil-fs-36">FAQ</h2>
            <div class="mil-dots"></div>
        </div>
        <div class="row mil-mb-60">
            <div class="col-lg-6">
                <div class="mil-mb-15 mil-up">
                    <button class="mil-accordion mil-fw-600 mil-fs-20">What makes your move-out deep cleaning services
                        different from regular cleaning?<span class="mil-icon mil-sm mil-bg-m-3">+</span></button>
                    <div class="mil-panel">
                        <p class="mil-lh-160 mil-fs-18">Our move-out deep cleaning goes beyond standard cleaning. We
                            detail kitchens, bathrooms, floors, baseboards, and windows to ensure your property is
                            spotless and move-in ready for the next tenant. Perfect for landlords, property managers,
                            and homeowners looking for a thorough clean.</p>
                    </div>
                </div>
                <div class="mil-mb-15 mil-up">
                    <button class="mil-accordion mil-fw-600 mil-fs-20">Do you offer discounts for property
                        managers?<span class="mil-icon mil-sm mil-bg-m-3">+</span></button>
                    <div class="mil-panel">
                        <p class="mil-lh-160 mil-fs-18">Yes! We provide exclusive discounts for verified property
                            managers to help keep multiple units in top condition. Contact us to learn more and see how
                            much you can save on your next cleaning.</p>
                    </div>
                </div>
                <div class="mil-mb-15 mil-up">
                    <button class="mil-accordion mil-fw-600 mil-fs-20">Are your cleaners licensed and insured?<span
                            class="mil-icon mil-sm mil-bg-m-3">+</span></button>
                    <div class="mil-panel">
                        <p class="mil-lh-160 mil-fs-18">Yes. All of our professional cleaners are fully licensed,
                            insured, and background-checked to ensure your property and belongings are protected.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mil-mb-15 mil-up">
                    <button class="mil-accordion mil-fw-600 mil-fs-20">How do I schedule a cleaning service?<span
                            class="mil-icon mil-sm mil-bg-m-3">+</span></button>
                    <div class="mil-panel">
                        <p class="mil-lh-160 mil-fs-18">You can request a quote directly on our website, call us at
                            (808) 400-4214, or send a message via our contact form. We’ll get back to you promptly to
                            schedule your cleaning at a time that works best.</p>
                    </div>
                </div>
                <div class="mil-mb-15 mil-up">
                    <button class="mil-accordion mil-fw-600 mil-fs-20">Do I need to be home during the cleaning?<span
                            class="mil-icon mil-sm mil-bg-m-3">+</span></button>
                    <div class="mil-panel">
                        <p class="mil-lh-160 mil-fs-18">For first-time clients, you’ll need to be home to provide
                            access, and again upon completion to review the completed cleaning. For repeat customers,
                            especially property managers, we can coordinate access and service schedules to fit your
                            needs, even if you’re not on-site.</p>
                    </div>
                </div>
                <div class="mil-mb-15 mil-up">
                    <button class="mil-accordion mil-fw-600 mil-fs-20">Can I customize the cleaning service to fit my
                        needs?<span class="mil-icon mil-sm mil-bg-m-3">+</span></button>
                    <div class="mil-panel">
                        <p class="mil-lh-160 mil-fs-18">Absolutely! Whether you need move-out, post-construction,
                            carpet, window, or concrete cleaning, we can tailor our services to your property and
                            specific requirements.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mil-mb-30 mil-up">
                <p class="mil-lh-160 mil-fs-18">Didn't find the answer to your question? Visit our Contact
                    page and let us help! We're here to provide the information you need. Reach out to us
                    anytime – we'd love to assist you!</p>
            </div>
            <div class="col-lg-6 mil-jce mil-sm-jcs mil-mb-30 mil-up">
                <a href="/contact/"
                    class="mil-btn mil-bg-m-2-light mil-br-xl mil-hover-bg-a-1 mil-hover-scale mil-icon-btn">Contact
                    us<i class="far fa-envelope mil-bg-m-4 mil-m-1"></i></a>
            </div>
        </div>
    </div>
</div>