<footer>
    <div class="mil-footer-bg">
    </div>
    <div class="mil-footer-content">
        <div class="container">
            <div class="row mil-p-f-60">
                <div class="col-lg-7 col-md-6 col-sm-12 mil-mb-60">
                    <div class="row">
                        <div class="col-8 col-md-6">
                            <a href="#top" class="mil-logo mil-hover-bri-105 mil-mb-30 mil-up" style="width: 24rem">
                                <img src="/assets/img/logo_footer.webp" alt="MoveOut Deep Cleaners logo" class="mil-light">
                            </a>
                            <p class="mil-mb-30 mil-fs-18 mil-up">Subscribe to our newsletter</p>
                            <form class="mil-subscribe mil-up">
                                <input type="email" class="mil-bg-m-1 mil-br-xl" placeholder="Your email" id="subscribe"
                                    name="subscribe">
                                <button type="submit" class="mil-bg-a-1"><i class="far fa-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 mil-mb-60">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li class="mil-fs-24 mil-fw-600 mil-m-3 mil-hover-a-1 mil-mb-20 mil-up"><a
                                        href="/">Home</a></li>
                                <li class="mil-fs-24 mil-fw-600 mil-m-3 mil-hover-a-1 mil-mb-20 mil-up"><a
                                        href="/price-calculator/">Price calculator</a></li>
                                <li class="mil-fs-24 mil-fw-600 mil-m-3 mil-hover-a-1 mil-mb-20 mil-up"><a
                                        href="/blog/">Blog</a></li>
                                <li class="mil-fs-24 mil-fw-600 mil-m-3 mil-hover-a-1 mil-mb-20 mil-up"><a
                                        href="/contact/">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li class="mil-up-text mil-hover-m-4 mil-mb-20 mil-up"><a href="/services/move-out-cleaning/">Move-out
                                        cleaning</a></li>
                                <li class="mil-up-text mil-hover-m-4 mil-mb-20 mil-up"><a
                                        href="/services/post-construction-cleaning/">post-construction</a></li>
                                <li class="mil-up-text mil-hover-m-4 mil-mb-20 mil-up"><a
                                        href="/services/carpet-cleaning/">carpets</a></li>
                                <li class="mil-up-text mil-hover-m-4 mil-mb-20 mil-up"><a
                                        href="/services/window-cleaning/">Windows</a></li>
                                <li class="mil-up-text mil-hover-m-4 mil-mb-20 mil-up"><a href="/services/concrete-cleaning/">Concrete
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mil-dots mil-up"></div>
            <div class="row mil-p-f-60 mil-sm-column-r">
                <div class="col-lg-7 col-md-6 col-sm-12 mil-column mil-jcb mil-mb-60">
                    <ul class="mil-aic mil-mb-30 mil-up">
                        <li class="mil-mr-20 mil-fs-20 mil-m-3">
                            <a href="#." target="_blank" data-no-swup class="mil-hover-a-1">
                                <i class="far fa-circle"></i>
                            </a>
                        </li>
                        <li class="mil-mr-20 mil-fs-20 mil-m-3">
                            <a href="#." target="_blank" data-no-swup class="mil-hover-a-1">
                                <i class="far fa-circle"></i>
                            </a>
                        </li>
                        <li class="mil-mr-20 mil-fs-20 mil-m-3">
                            <a href="#." target="_blank" data-no-swup class="mil-hover-a-1">
                                <i class="far fa-circle"></i>
                            </a>
                        </li>
                        <li class="mil-fs-20 mil-m-3">
                            <a href="#." target="_blank" data-no-swup class="mil-hover-a-1">
                                <i class="far fa-circle"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="mil-aic mil-up">
                        <li class="mil-hover-m-4 mil-mr-20">
                            <a href="/legal/">Privacy Policy</a>
                        </li>
                        <li class="mil-hover-m-4 mil-mr-20">
                            <a href="/legal/">Terms and conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 mil-mb-60">
                    <div class="row mil-jcb">
                        <div class="col-6 mil-up">
                            <p class="mil-fs-22 mil-fw-600 mil-m-3 mil-mb-20">Honolulu</p>
                            <!-- <p class="mil-mb-20">Locally owned
                            </p> -->
                            <a href="tel:+18084004214" class="mil-up-text mil-a-1" data-no-swup>+1-808-400-4214</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mil-dots mil-up"></div>
            <div class="mil-footer-bottom mil-aic mil-jcb mil-up row">
                    <div class="col-12 col-md-6 mil-mb-30">
                        <p>© Copyright <span id="year"></span> - MoveOut Deep Cleaners. All Rights Reserved.</p>
                    </div>
                    <div class="kaimuki-digital col-12 col-md-6 mil-mb-30 mil-sm-jcs mil-md-jce mil-aic">
                        <i>Powered by</i>
                        <a href="https://kaimukidigital.com/" target="_blank" rel="noopener noreferrer" data-no-swup><img src="/assets/img/kaimuki_digital_dark.webp" alt="Kaimuki Digital Logo"
                                style="height: 20px;"></a>
                    </div>
            </div>
        </div>
    </div>
</footer>