<div class="mil-top-panel">
    <div class="container">
        <div class="mil-tp-content">
            <div class="mil-left">
                <a href="/" class="mil-logo mil-hover-bri-105" style="width: 16rem">
                    <img src="/assets/img/logo_website.png" alt="logo">
                    <img src="/assets/img/logo_website_dark.png" alt="logo" class="mil-light">
                </a>
            </div>
            <nav class="mil-main-menu">
                <ul id="swupMenu" class="mil-menu-transition mil-aic mil-m-4">
                    <li class="{% if page.url == '/' %}mil-current{% endif %}">
                        <a href="/">Home</a>
                    </li>
                    <li class="mil-has-children">
                        <a href="">Services</a>
                        <ul>
                            <li>
                                <a href="/services/move-out-cleaning/">Move-Out Cleaning</a>
                            </li>
                            <li>
                                <a href="/services/post-construction-cleaning/">Post Construction</a>
                            </li>
                            <li>
                                <a href="/services/carpet-cleaning/">Carpet Cleaning</a>
                            </li>
                            <li>
                                <a href="/services/window-cleaning/">Window Cleaning</a>
                            </li>
                            <li>
                                <a href="/services/concrete-cleaning/">Concrete Pressure Wash</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if page.url contains '/blog/' %}mil-current{% endif %}">
                        <a href="/blog/">blog</a>
                    </li>
                    <li class="{% if page.url == '/contact/' %}mil-current{% endif %}">
                        <a href="/contact/">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="mil-right mil-jce">
                <div class="mil-tp-phone mil-aic mil-mr-60 mil-sm-mr-15">
                    <i class="far fa-mobile mil-icon mil-sm mil-bg-a-2 mil-m-4 mil-mr-15 mil-sm-hidden"
                        style="padding-top: .2rem"></i>
                    <a href="tel:+18084004214" class="mil-fw-600" data-no-swup>(808) 400-4214</a>
                </div>
                <a href="/price-calculator/"
                    class="mil-btn mil-lg mil-bg-a-1 mil-br-xl mil-hover-bri-105 mil-icon-btn mil-hover-scale mil-md-hidden"><span>Price
                        Calculator</span><i class="far fa-magic mil-bg-m-1 mil-a-1"></i></a>
                <div class="mil-menu-btn">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>