/* -------------------------------------------

default

------------------------------------------- */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    &:focus {
        outline: inherit;
    }
}

*::selection {
    color: $m-1;
    background-color: $a-1;
}

::-webkit-scrollbar {
    width: 0;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

body {
    overscroll-behavior: none;
    padding: 0;
    margin: 0;
    background-color: $m-3;
    height: auto;
    color: $m-2;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    appearance: none;
    -webkit-appearance: none;
    padding-right: 10px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.mil-text-link {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: .15rem;
        width: 0;
        background-color: $a-1;
        transition: $t-sm;
    }

    &.mil-a-2 {
        &:after {
            background-color: $a-2;
        }
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

blockquote {
    padding: 40px;
    border-radius: $angle;

}

.mil-page-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.mil-scale-img,
.mil-scale-img-top,
.mil-rotate,
.mil-up {
    will-change: transform;
}

.mil-up {
    opacity: 0;

}

/* -------------------------------------------

page scale

------------------------------------------- */

html {
    font-size: 9px;

    @media (max-width: 1800px) {
        font-size: 8px;
    }

    @media (max-width: 1200px) {
        font-size: 7px;
    }

    @media (max-width: 992px) {
        font-size: 6px;
    }
}

/* -------------------------------------------

page transitions

------------------------------------------- */

.transition-fade {
    position: relative;
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition: $t-md;
    transition-delay: .2s;

    & .mil-delay-load {
        opacity: 1;
        transform: scale(1);
        transition: $t-lg;
        transition-delay: .4s;
    }
}

html.is-animating .transition-fade {
    opacity: 0;
    filter: blur(4rem);
    transform: scale(1.02);
    transition-delay: 0s;

    & .mil-delay-load {
        opacity: 0;
        transform: scale(1.2);
        transition-delay: 0s;
    }
}

.mil-menu-transition {
    transform: translateY(0) scale(1);
    transition: $t-md;

    & .mil-current {
        &:before {
            transform: scale(1);
            transition: $t-md;
        }
    }
}

html.is-animating .mil-menu-transition {
    & .mil-current {
        &:before {
            transform: scale(0);
        }

        & ul {
            opacity: 0;
            pointer-events: none;
            transform: translateY(-.7rem) scale(.9);
        }
    }
}

/* -------------------------------------------

size

------------------------------------------- */
.mil-w-100 {
    width: 100%;
}

.mil-h-100 {
    height: 100%;
}

/* -------------------------------------------

flex

------------------------------------------- */

.mil-relative {
    position: relative;
}

.mil-flex {
    display: flex !important;
}

.mil-hidden {
    display: none !important;
}

.mil-row {
    display: flex;
    flex-direction: row;
}

.mil-row-r {
    display: flex;
    flex-direction: row-reverse;
}

.mil-column {
    display: flex;
    flex-direction: column;
}

.mil-column-r {
    display: flex;
    flex-direction: column-reverse;
}

// justify-content

.mil-jcs {
    display: flex;
    justify-content: flex-start;
}

.mil-jcc {
    display: flex;
    justify-content: center;
}

.mil-jce {
    display: flex;
    justify-content: flex-end;
}

.mil-jcb {
    display: flex;
    justify-content: space-between;
}

// align-items

.mil-ais {
    display: flex;
    align-items: flex-start;
}

.mil-aic {
    display: flex;
    align-items: center;
}

.mil-aie {
    display: flex;
    align-items: flex-end;
}

@media (max-width: 1200px) {

    .mil-lg-flex {
        display: flex !important;
    }

    .mil-lg-hidden {
        display: none !important;
    }

    .mil-lg-row {
        display: flex;
        flex-direction: row;
    }

    .mil-lg-row-r {
        display: flex;
        flex-direction: row-reverse;
    }

    .mil-lg-column {
        display: flex;
        flex-direction: column;
    }

    .mil-lg-column-r {
        display: flex;
        flex-direction: column-reverse;
    }

    // justify-content

    .mil-lg-jcs {
        display: flex;
        justify-content: flex-start;
    }

    .mil-lg-jcc {
        display: flex;
        justify-content: center;
    }

    .mil-lg-jce {
        display: flex;
        justify-content: flex-end;
    }

    .mil-lg-jcb {
        display: flex;
        justify-content: space-between;
    }

    // align-items

    .mil-lg-ais {
        display: flex;
        align-items: flex-start;
    }

    .mil-lg-aic {
        display: flex;
        align-items: center;
    }

    .mil-lg-aie {
        display: flex;
        align-items: flex-end;
    }
}

@media (max-width: 992px) {

    .mil-md-flex {
        display: flex !important;
    }

    .mil-md-hidden {
        display: none !important;
    }

    .mil-md-row {
        display: flex;
        flex-direction: row;
    }

    .mil-md-row-r {
        display: flex;
        flex-direction: row-reverse;
    }

    .mil-md-column {
        display: flex;
        flex-direction: column;
    }

    .mil-md-column-r {
        display: flex;
        flex-direction: column-reverse;
    }

    // justify-content

    .mil-md-jcs {
        display: flex;
        justify-content: flex-start;
    }

    .mil-md-jcc {
        display: flex;
        justify-content: center;
    }

    .mil-md-jce {
        display: flex;
        justify-content: flex-end;
    }

    .mil-md-jcb {
        display: flex;
        justify-content: space-between;
    }

    // align-items

    .mil-md-ais {
        display: flex;
        align-items: flex-start;
    }

    .mil-md-aic {
        display: flex;
        align-items: center;
    }

    .mil-md-aie {
        display: flex;
        align-items: flex-end;
    }
}

@media (max-width: 768px) {

    .mil-sm-flex {
        display: flex !important;
    }

    .mil-sm-hidden {
        display: none !important;
    }

    .mil-sm-row {
        display: flex;
        flex-direction: row;
    }

    .mil-sm-row-r {
        display: flex;
        flex-direction: row-reverse;
    }

    .mil-sm-column {
        display: flex;
        flex-direction: column;
    }

    .mil-sm-column-r {
        display: flex;
        flex-direction: column-reverse;
    }

    // justify-content

    .mil-sm-jcs {
        display: flex;
        justify-content: flex-start;
    }

    .mil-sm-jcc {
        display: flex;
        justify-content: center;
    }

    .mil-sm-jce {
        display: flex;
        justify-content: flex-end;
    }

    .mil-sm-jcb {
        display: flex;
        justify-content: space-between;
    }

    // align-items

    .mil-sm-ais {
        display: flex;
        align-items: flex-start;
    }

    .mil-sm-aic {
        display: flex;
        align-items: center;
    }

    .mil-sm-aie {
        display: flex;
        align-items: flex-end;
    }
}

/* -------------------------------------------

spaces

------------------------------------------- */

.mil-p-ff {
    padding-top: $space;
    padding-bottom: $space;
}

.mil-p-0-f {
    padding-bottom: $space;
}

.mil-p-f-0 {
    padding-top: $space;
}

.mil-p-0-15 {
    padding-bottom: calc($space - 1.5rem);
}

.mil-p-0-30 {
    padding-bottom: calc($space - 3rem);
}

.mil-p-0-40 {
    padding-bottom: calc($space - 4rem);
}

.mil-p-0-60 {
    padding-bottom: calc($space - 6rem);
}

.mil-p-0-90 {
    padding-bottom: calc($space - 9rem);
}

.mil-p-f-15 {
    padding-top: $space;
    padding-bottom: calc($space - 1.5rem);
}

.mil-p-f-30 {
    padding-top: $space;
    padding-bottom: calc($space - 3rem);
}

.mil-p-f-40 {
    padding-top: $space;
    padding-bottom: calc($space - 4rem);
}

.mil-p-f-60 {
    padding-top: $space;
    padding-bottom: calc($space - 6rem);
}

.mil-p-f-90 {
    padding-top: $space;
    padding-bottom: calc($space - 9rem);
}

@media (max-width: 1200px) {

    .mil-lg-p-ff {
        padding-top: $space;
        padding-bottom: $space;
    }

    .mil-lg-p-0-f {
        padding-bottom: $space;
    }

    .mil-lg-p-f-0 {
        padding-top: $space;
    }

    .mil-lg-p-f-15 {
        padding-top: $space;
        padding-bottom: calc($space - 1.5rem);
    }

    .mil-lg-p-f-30 {
        padding-top: $space;
        padding-bottom: calc($space - 3rem);
    }

    .mil-lg-p-f-60 {
        padding-top: $space;
        padding-bottom: calc($space - 6rem);
    }

    .mil-lg-p-f-90 {
        padding-top: $space;
        padding-bottom: calc($space - 9rem);
    }
}

@media (max-width: 992px) {

    .mil-md-p-ff {
        padding-top: $space;
        padding-bottom: $space;
    }

    .mil-md-p-0-f {
        padding-bottom: $space;
    }

    .mil-md-p-f-0 {
        padding-top: $space;
    }

    .mil-md-p-f-15 {
        padding-top: $space;
        padding-bottom: calc($space - 1.5rem);
    }

    .mil-md-p-f-30 {
        padding-top: $space;
        padding-bottom: calc($space - 3rem);
    }

    .mil-md-p-f-60 {
        padding-top: $space;
        padding-bottom: calc($space - 6rem);
    }

    .mil-md-p-f-90 {
        padding-top: $space;
        padding-bottom: calc($space - 9rem);
    }
}

@media (max-width: 768px) {

    .mil-sm-p-ff {
        padding-top: $space;
        padding-bottom: $space;
    }

    .mil-sm-p-0-f {
        padding-bottom: $space;
    }

    .mil-sm-p-f-0 {
        padding-top: $space;
    }

    .mil-sm-p-f-15 {
        padding-top: $space;
        padding-bottom: calc($space - 1.5rem);
    }

    .mil-sm-p-f-30 {
        padding-top: $space;
        padding-bottom: calc($space - 3rem);
    }

    .mil-sm-p-f-60 {
        padding-top: $space;
        padding-bottom: calc($space - 6rem);
    }

    .mil-sm-p-f-90 {
        padding-top: $space;
        padding-bottom: calc($space - 9rem);
    }
}

/* -------------------------------------------

margins

------------------------------------------- */

// margin-top

.mil-mt-0 {
    margin-top: 0;
}

.mil-mt-5 {
    margin-top: .5rem;
}

.mil-mt-15 {
    margin-top: 1.5rem;
}

.mil-mt-20 {
    margin-top: 2rem;
}

.mil-mt-30 {
    margin-top: 3rem;
}

.mil-mt-40 {
    margin-top: 4rem;
}

.mil-mt-60 {
    margin-top: 6rem;
}

.mil-mt-90 {
    margin-top: 9rem;
}

.mil-mt-f {
    margin-top: $space;
}

// margin-right

.mil-mr-0 {
    margin-right: 0;
}

.mil-mr-5 {
    margin-right: .5rem;
}

.mil-mr-15 {
    margin-right: 1.5rem;
}

.mil-mr-20 {
    margin-right: 2rem;
}

.mil-mr-30 {
    margin-right: 3rem;
}

.mil-mr-40 {
    margin-right: 4rem;
}

.mil-mr-60 {
    margin-right: 6rem;
}

.mil-mr-90 {
    margin-right: 9rem;
}

.mil-mr-f {
    margin-right: $space;
}

// margin-bottom

.mil-mb-0 {
    margin-bottom: 0;
}

.mil-mb-5 {
    margin-bottom: .5rem;
}

.mil-mb-15 {
    margin-bottom: 1.5rem;
}

.mil-mb-20 {
    margin-bottom: 2rem;
}

.mil-mb-30 {
    margin-bottom: 3rem;
}

.mil-mb-40 {
    margin-bottom: 4rem;
}

.mil-mb-60 {
    margin-bottom: 6rem;
}

.mil-mb-90 {
    margin-bottom: 9rem;
}

.mil-mb-f {
    margin-bottom: $space;
}

// margin-left

.mil-ml-0 {
    margin-left: 0;
}

.mil-ml-5 {
    margin-left: .5rem;
}

.mil-ml-15 {
    margin-left: 1.5rem;
}

.mil-ml-20 {
    margin-left: 2rem;
}

.mil-ml-30 {
    margin-left: 3rem;
}

.mil-ml-40 {
    margin-left: 4rem;
}

.mil-ml-60 {
    margin-left: 6rem;
}

.mil-ml-90 {
    margin-left: 9rem;
}

.mil-ml-f {
    margin-left: $space;
}

@media (max-width: 1200px) {

    // margin-top

    .mil-lg-mt-0 {
        margin-top: 0;
    }

    .mil-lg-mt-5 {
        margin-top: .5rem;
    }

    .mil-lg-mt-15 {
        margin-top: 1.5rem;
    }

    .mil-lg-mt-20 {
        margin-top: 2rem;
    }

    .mil-lg-mt-30 {
        margin-top: 3rem;
    }

    .mil-lg-mt-40 {
        margin-top: 4rem;
    }

    .mil-lg-mt-60 {
        margin-top: 6rem;
    }

    .mil-lg-mt-90 {
        margin-top: 9rem;
    }

    .mil-lg-mt-f {
        margin-top: $space;
    }

    // margin-right

    .mil-lg-mr-0 {
        margin-right: 0;
    }

    .mil-lg-mr-5 {
        margin-right: .5rem;
    }

    .mil-lg-mr-15 {
        margin-right: 1.5rem;
    }

    .mil-lg-mr-20 {
        margin-right: 2rem;
    }

    .mil-lg-mr-30 {
        margin-right: 3rem;
    }

    .mil-lg-mr-40 {
        margin-right: 4rem;
    }

    .mil-lg-mr-60 {
        margin-right: 6rem;
    }

    .mil-lg-mr-90 {
        margin-right: 9rem;
    }

    .mil-lg-mr-f {
        margin-right: $space;
    }

    // margin-bottom

    .mil-lg-mb-0 {
        margin-bottom: 0;
    }

    .mil-lg-mb-5 {
        margin-bottom: .5rem;
    }

    .mil-lg-mb-15 {
        margin-bottom: 1.5rem;
    }

    .mil-lg-mb-20 {
        margin-bottom: 2rem;
    }

    .mil-lg-mb-30 {
        margin-bottom: 3rem;
    }

    .mil-lg-mb-40 {
        margin-bottom: 4rem;
    }

    .mil-lg-mb-60 {
        margin-bottom: 6rem;
    }

    .mil-lg-mb-90 {
        margin-bottom: 9rem;
    }

    .mil-lg-mb-f {
        margin-bottom: $space;
    }

    // margin-left

    .mil-lg-ml-0 {
        margin-left: 0;
    }

    .mil-lg-ml-5 {
        margin-left: .5rem;
    }

    .mil-lg-ml-15 {
        margin-left: 1.5rem;
    }

    .mil-lg-ml-20 {
        margin-left: 2rem;
    }

    .mil-lg-ml-30 {
        margin-left: 3rem;
    }

    .mil-lg-ml-40 {
        margin-left: 4rem;
    }

    .mil-lg-ml-60 {
        margin-left: 6rem;
    }

    .mil-lg-ml-90 {
        margin-left: 9rem;
    }

    .mil-lg-ml-f {
        margin-left: $space;
    }
}

@media (max-width: 992px) {

    // margin-top

    .mil-md-mt-0 {
        margin-top: 0;
    }

    .mil-md-mt-5 {
        margin-top: .5rem;
    }

    .mil-md-mt-15 {
        margin-top: 1.5rem;
    }

    .mil-md-mt-20 {
        margin-top: 2rem;
    }

    .mil-md-mt-30 {
        margin-top: 3rem;
    }

    .mil-md-mt-60 {
        margin-top: 6rem;
    }

    .mil-md-mt-90 {
        margin-top: 9rem;
    }

    .mil-md-mt-f {
        margin-top: $space;
    }

    // margin-right

    .mil-md-mr-0 {
        margin-right: 0;
    }

    .mil-md-mr-5 {
        margin-right: .5rem;
    }

    .mil-md-mr-15 {
        margin-right: 1.5rem;
    }

    .mil-md-mr-20 {
        margin-right: 2rem;
    }

    .mil-md-mr-30 {
        margin-right: 3rem;
    }

    .mil-md-mr-60 {
        margin-right: 6rem;
    }

    .mil-md-mr-90 {
        margin-right: 9rem;
    }

    .mil-md-mr-f {
        margin-right: $space;
    }

    // margin-bottom

    .mil-md-mb-0 {
        margin-bottom: 0;
    }

    .mil-md-mb-5 {
        margin-bottom: .5rem;
    }

    .mil-md-mb-15 {
        margin-bottom: 1.5rem;
    }

    .mil-md-mb-20 {
        margin-bottom: 2rem;
    }

    .mil-md-mb-30 {
        margin-bottom: 3rem;
    }

    .mil-md-mb-40 {
        margin-bottom: 4rem;
    }

    .mil-md-mb-60 {
        margin-bottom: 6rem;
    }

    .mil-md-mb-90 {
        margin-bottom: 9rem;
    }

    .mil-md-mb-f {
        margin-bottom: $space;
    }

    // margin-left

    .mil-md-ml-0 {
        margin-left: 0;
    }

    .mil-md-ml-5 {
        margin-left: .5rem;
    }

    .mil-md-ml-15 {
        margin-left: 1.5rem;
    }

    .mil-md-ml-20 {
        margin-left: 2rem;
    }

    .mil-md-ml-30 {
        margin-left: 3rem;
    }

    .mil-md-ml-60 {
        margin-left: 6rem;
    }

    .mil-md-ml-90 {
        margin-left: 9rem;
    }

    .mil-md-ml-f {
        margin-left: $space;
    }
}

@media (max-width: 768px) {

    // margin-top

    .mil-sm-mt-0 {
        margin-top: 0;
    }

    .mil-sm-mt-5 {
        margin-top: .5rem;
    }

    .mil-sm-mt-15 {
        margin-top: 1.5rem;
    }

    .mil-sm-mt-20 {
        margin-top: 2rem;
    }

    .mil-sm-mt-30 {
        margin-top: 3rem;
    }

    .mil-sm-mt-60 {
        margin-top: 6rem;
    }

    .mil-sm-mt-90 {
        margin-top: 9rem;
    }

    .mil-sm-mt-f {
        margin-top: $space;
    }

    // margin-right

    .mil-sm-mr-0 {
        margin-right: 0;
    }

    .mil-sm-mr-5 {
        margin-right: .5rem;
    }

    .mil-sm-mr-15 {
        margin-right: 1.5rem;
    }

    .mil-sm-mr-20 {
        margin-right: 2rem;
    }

    .mil-sm-mr-30 {
        margin-right: 3rem;
    }

    .mil-sm-mr-60 {
        margin-right: 6rem;
    }

    .mil-sm-mr-90 {
        margin-right: 9rem;
    }

    .mil-sm-mr-f {
        margin-right: $space;
    }

    // margin-bottom

    .mil-sm-mb-0 {
        margin-bottom: 0;
    }

    .mil-sm-mb-5 {
        margin-bottom: .5rem;
    }

    .mil-sm-mb-15 {
        margin-bottom: 1.5rem;
    }

    .mil-sm-mb-20 {
        margin-bottom: 2rem;
    }

    .mil-sm-mb-30 {
        margin-bottom: 3rem;
    }

    .mil-sm-mb-40 {
        margin-bottom: 4rem;
    }

    .mil-sm-mb-60 {
        margin-bottom: 6rem;
    }

    .mil-sm-mb-90 {
        margin-bottom: 9rem;
    }

    .mil-sm-mb-f {
        margin-bottom: $space;
    }

    // margin-left

    .mil-sm-ml-0 {
        margin-left: 0;
    }

    .mil-sm-ml-5 {
        margin-left: .5rem;
    }

    .mil-sm-ml-15 {
        margin-left: 1.5rem;
    }

    .mil-sm-ml-20 {
        margin-left: 2rem;
    }

    .mil-sm-ml-30 {
        margin-left: 3rem;
    }

    .mil-sm-ml-60 {
        margin-left: 6rem;
    }

    .mil-sm-ml-90 {
        margin-left: 9rem;
    }

    .mil-sm-ml-f {
        margin-left: $space;
    }
}

/* -------------------------------------------

text align

------------------------------------------- */
.mil-tal {
    text-align: left;
}

.mil-tac {
    text-align: center;
}

.mil-tar {
    text-align: right;
}

@media (max-width: 1200px) {
    .mil-lg-tal {
        text-align: left;
    }

    .mil-lg-tac {
        text-align: center;
    }

    .mil-lg-tar {
        text-align: right;
    }
}

@media (max-width: 992px) {
    .mil-md-tal {
        text-align: left;
    }

    .mil-md-tac {
        text-align: center;
    }

    .mil-md-tar {
        text-align: right;
    }
}

@media (max-width: 768px) {
    .mil-sm-tal {
        text-align: left;
    }

    .mil-sm-tac {
        text-align: center;
    }

    .mil-sm-tar {
        text-align: right;
    }
}

/* -------------------------------------------

typography

------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-1;
    color: $m-1;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -.1rem;
}

body {
    font-family: $font-1;
    font-size: 1.6rem;
}

// font-family

.mil-ff-1 {
    font-family: $font-1;
}

.mil-ff-2 {
    font-family: $font-2;
}

.mil-ff-3 {
    font-family: $font-3;
}

// font-size

.mil-fs-11 {
    font-size: 1.1rem;
}

.mil-fs-12 {
    font-size: 1.2rem;
}

.mil-fs-13 {
    font-size: 1.3rem;
}

.mil-fs-14 {
    font-size: 1.4rem;
}

.mil-fs-15 {
    font-size: 1.5rem;
}

.mil-fs-16 {
    font-size: 1.6rem;
}

.mil-fs-17 {
    font-size: 1.7rem;
}

.mil-fs-18 {
    font-size: 1.8rem;
}

.mil-fs-19 {
    font-size: 1.9rem;
}

.mil-fs-20 {
    font-size: 2rem;
}

.mil-fs-22 {
    font-size: 2.2rem;
}

.mil-fs-24 {
    font-size: 2.4rem;
}

.mil-fs-26 {
    font-size: 2.6rem;
}

.mil-fs-28 {
    font-size: 2.8rem;
}

.mil-fs-30 {
    font-size: 3rem;
}

.mil-fs-32 {
    font-size: 3.2rem;
}

.mil-fs-34 {
    font-size: 3.4rem;
}

.mil-fs-36 {
    font-size: 3.6rem;
}

.mil-fs-38 {
    font-size: 3.8rem;
}

.mil-fs-40 {
    font-size: 4rem;
}

.mil-fs-44 {
    font-size: 4.4rem;
}

.mil-fs-48 {
    font-size: 4.8rem;
}

.mil-fs-52 {
    font-size: 5.2rem;
}

.mil-fs-58 {
    font-size: 5.8rem;
}

.mil-fs-72 {
    font-size: 7.2rem;
}

.mil-fs-86 {
    font-size: 8.6rem;
}

.mil-fs-100 {
    font-size: 10rem;
}

@media (max-width: 1200px) {

    .mil-lg-fs-11 {
        font-size: 1.1rem;
    }

    .mil-lg-fs-12 {
        font-size: 1.2rem;
    }

    .mil-lg-fs-13 {
        font-size: 1.3rem;
    }

    .mil-lg-fs-14 {
        font-size: 1.4rem;
    }

    .mil-lg-fs-15 {
        font-size: 1.5rem;
    }

    .mil-lg-fs-16 {
        font-size: 1.6rem;
    }

    .mil-lg-fs-17 {
        font-size: 1.7rem;
    }

    .mil-lg-fs-18 {
        font-size: 1.8rem;
    }

    .mil-lg-fs-19 {
        font-size: 1.9rem;
    }

    .mil-lg-fs-20 {
        font-size: 2rem;
    }

    .mil-lg-fs-22 {
        font-size: 2.2rem;
    }

    .mil-lg-fs-24 {
        font-size: 2.4rem;
    }

    .mil-lg-fs-26 {
        font-size: 2.6rem;
    }

    .mil-lg-fs-28 {
        font-size: 2.8rem;
    }

    .mil-lg-fs-30 {
        font-size: 3rem;
    }

    .mil-lg-fs-32 {
        font-size: 3.2rem;
    }

    .mil-lg-fs-34 {
        font-size: 3.4rem;
    }

    .mil-lg-fs-36 {
        font-size: 3.6rem;
    }

    .mil-lg-fs-38 {
        font-size: 3.8rem;
    }

    .mil-lg-fs-40 {
        font-size: 4rem;
    }

    .mil-lg-fs-44 {
        font-size: 4.4rem;
    }

    .mil-lg-fs-48 {
        font-size: 4.8rem;
    }

    .mil-lg-fs-52 {
        font-size: 5.2rem;
    }

    .mil-lg-fs-58 {
        font-size: 5.8rem;
    }

    .mil-lg-fs-72 {
        font-size: 7.2rem;
    }

    .mil-lg-fs-100 {
        font-size: 10rem;
    }
}

@media (max-width: 992px) {
    .mil-md-fs-11 {
        font-size: 1.1rem;
    }

    .mil-md-fs-12 {
        font-size: 1.2rem;
    }

    .mil-md-fs-13 {
        font-size: 1.3rem;
    }

    .mil-md-fs-14 {
        font-size: 1.4rem;
    }

    .mil-md-fs-15 {
        font-size: 1.5rem;
    }

    .mil-md-fs-16 {
        font-size: 1.6rem;
    }

    .mil-md-fs-17 {
        font-size: 1.7rem;
    }

    .mil-md-fs-18 {
        font-size: 1.8rem;
    }

    .mil-md-fs-19 {
        font-size: 1.9rem;
    }

    .mil-md-fs-20 {
        font-size: 2rem;
    }

    .mil-md-fs-22 {
        font-size: 2.2rem;
    }

    .mil-md-fs-24 {
        font-size: 2.4rem;
    }

    .mil-md-fs-26 {
        font-size: 2.6rem;
    }

    .mil-md-fs-28 {
        font-size: 2.8rem;
    }

    .mil-md-fs-30 {
        font-size: 3rem;
    }

    .mil-md-fs-32 {
        font-size: 3.2rem;
    }

    .mil-md-fs-34 {
        font-size: 3.4rem;
    }

    .mil-md-fs-36 {
        font-size: 3.6rem;
    }

    .mil-md-fs-38 {
        font-size: 3.8rem;
    }

    .mil-md-fs-40 {
        font-size: 4rem;
    }

    .mil-md-fs-44 {
        font-size: 4.4rem;
    }

    .mil-md-fs-48 {
        font-size: 4.8rem;
    }

    .mil-md-fs-52 {
        font-size: 5.2rem;
    }

    .mil-md-fs-58 {
        font-size: 5.8rem;
    }

    .mil-md-fs-72 {
        font-size: 7.2rem;
    }

    .mil-md-fs-100 {
        font-size: 10rem;
    }
}

@media (max-width: 768px) {
    .mil-sm-fs-11 {
        font-size: 1.1rem;
    }

    .mil-sm-fs-12 {
        font-size: 1.2rem;
    }

    .mil-sm-fs-13 {
        font-size: 1.3rem;
    }

    .mil-sm-fs-14 {
        font-size: 1.4rem;
    }

    .mil-sm-fs-15 {
        font-size: 1.5rem;
    }

    .mil-sm-fs-16 {
        font-size: 1.6rem;
    }

    .mil-sm-fs-17 {
        font-size: 1.7rem;
    }

    .mil-sm-fs-18 {
        font-size: 1.8rem;
    }

    .mil-sm-fs-19 {
        font-size: 1.9rem;
    }

    .mil-sm-fs-20 {
        font-size: 2rem;
    }

    .mil-sm-fs-22 {
        font-size: 2.2rem;
    }

    .mil-sm-fs-24 {
        font-size: 2.4rem;
    }

    .mil-sm-fs-26 {
        font-size: 2.6rem;
    }

    .mil-sm-fs-28 {
        font-size: 2.8rem;
    }

    .mil-sm-fs-30 {
        font-size: 3rem;
    }

    .mil-sm-fs-32 {
        font-size: 3.2rem;
    }

    .mil-sm-fs-34 {
        font-size: 3.4rem;
    }

    .mil-sm-fs-36 {
        font-size: 3.6rem;
    }

    .mil-sm-fs-38 {
        font-size: 3.8rem;
    }

    .mil-sm-fs-40 {
        font-size: 4rem;
    }

    .mil-sm-fs-44 {
        font-size: 4.4rem;
    }

    .mil-sm-fs-48 {
        font-size: 4.8rem;
    }

    .mil-sm-fs-52 {
        font-size: 5.2rem;
    }

    .mil-sm-fs-58 {
        font-size: 5.8rem;
    }

    .mil-sm-fs-72 {
        font-size: 7.2rem;
    }

    .mil-sm-fs-100 {
        font-size: 10rem;
    }
}

// font-weight 

.mil-fw-100 {
    font-weight: 100;
}

.mil-fw-200 {
    font-weight: 200;
}

.mil-fw-300 {
    font-weight: 300;
}

.mil-fw-400 {
    font-weight: 400;
}

.mil-fw-500 {
    font-weight: 500;
}

.mil-fw-600 {
    font-weight: 600;
}

.mil-fw-700 {
    font-weight: 700;
}

.mil-fw-800 {
    font-weight: 800;
}

.mil-fw-900 {
    font-weight: 900;
}

// line-height

.mil-lh-100 {
    line-height: 100% !important;
}

.mil-lh-110 {
    line-height: 110% !important;
}

.mil-lh-120 {
    line-height: 120% !important;
}

.mil-lh-140 {
    line-height: 140% !important;
}

.mil-lh-160 {
    line-height: 160% !important;
}

.mil-lh-180 {
    line-height: 180% !important;
}

.mil-lh-200 {
    line-height: 200% !important;
}

/* -------------------------------------------

text color

------------------------------------------- */

.mil-m-1 {
    color: $m-1;
}

.mil-m-2 {
    color: $m-2;
}

.mil-m-3 {
    color: $m-3;
}

.mil-m-4 {
    color: $m-4;
}

.mil-a-1 {
    color: $a-1;
}

.mil-a-2 {
    color: $a-2;
}

.mil-hover-bri-105:hover {
    filter: brightness(105%);
}

.mil-hover-bri-110:hover {
    filter: brightness(110%);
}

.mil-hover-bri-120:hover {
    filter: brightness(120%);
}

.mil-hover-m-1:hover {
    color: $m-1;
}

.mil-hover-m-2:hover {
    color: $m-2;
}

.mil-hover-m-3:hover {
    color: $m-3;
}

.mil-hover-m-4:hover {
    color: $m-4;
}

.mil-hover-a-1:hover {
    color: $a-1;
}

.mil-hover-a-2:hover {
    color: $a-2;
}

/* -------------------------------------------

background color

------------------------------------------- */

.mil-bg-m-1 {
    background-color: $m-1 !important;
}

.mil-bg-m-2 {
    background-color: $m-2 !important;
}

.mil-bg-m-2-light {
    background-color: lighten($m-2, 32%) !important;
}

.mil-bg-m-3 {
    background-color: $m-3 !important;
}

.mil-bg-m-4 {
    background-color: $m-4 !important;
}

.mil-bg-m-5 {
    background-color: $m-5 !important;
}

.mil-bg-a-1 {
    background-color: $a-1 !important;
}

.mil-bg-a-2 {
    background-color: $a-2 !important;
}

.mil-hover-bg-m-1:hover {
    background-color: $m-1 !important;
}

.mil-hover-bg-m-2:hover {
    background-color: $m-2 !important;
}

.mil-hover-bg-m-3:hover {
    background-color: $m-3 !important;
}

.mil-hover-bg-a-1:hover {
    background-color: $a-1 !important;
}

.mil-hover-bg-a-2:hover {
    background-color: $a-2 !important;
}

/* -------------------------------------------

opacity

------------------------------------------- */

.mil-opacity-7 {
    opacity: .7;
}

.mil-opacity-4 {
    opacity: .4;
}

.mil-opacity-1 {
    opacity: .1;
}

.mil-opacity-05 {
    opacity: .05
}

/* -------------------------------------------

border radius

------------------------------------------- */

.mil-br-f {
    border-radius: 50%;
}

.mil-br-xl {
    border-radius: calc($angle * 10);
}

.mil-br-lg {
    border-radius: calc($angle + .5rem);
}

.mil-br-md {
    border-radius: $angle;
}

.mil-br-sm {
    border-radius: calc($angle - .5rem);
}
