/* -------------------------------------------

Name: 		Cleandy
Version:    1.0
Developer:	Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). email: miller.themes@gmail.com

------------------------------------------- */

/*--------------------------------------------

1. starter
    - default
    - page scale
    - page transitions
    - size
    - flex
    - spaces
    - margins
    - text align
    - typography
    - text color
    - background color
    - opacity
    - border radius
2. hero
    - hero 1
    - hero 2
    - hero 3
    - hero 4
    - hero 5
    - hero cards
    - circle text
    - inner page hero
3. components
    - preloader
    - top panel
    - main menu
    - menu button
    - forms
    - services
    - about
    - reviews
    - accordion (faq)
    - blog
    - right side buttons
    - discount popup
    - range slider
    - radio button
    - checkbox
    - number input
    - calculator
    - team
    - clients
    - subscription
    - call to action
    - features
    - steps
    - before/after
    - gallery
    - map 
    - footer
4. common
    - buttons
    - icons
    - background
    - decorated text
    - section title
    - breadcrumbs
    - list 
    - pagination

--------------------------------------------*/

@import 'variables';
@import 'starter';
@import 'hero';
@import 'components';
@import 'common';
